{{#unless icon}}
  <div class="input-group">
{{/unless}}

  <input type="password" class="form-text form-control"
    data-id="{{id}}" name="{{id}}"
    autocomplete="new-password"
    placeholder="{{placeholder}}">
  <span class="input-group-btn">
    <button class="btn btn-default btn-flat" type="button">
      <i class="fa fa-fw fa-eye-slash"></i>
    </button>
  </span>

{{#unless icon}}
  </div>
{{/unless}}
