<div>
  <div class="row">
    <div class="col-md-12">
      <section class="content" style="overflow: hidden;padding: 20px 0;">
        <ul class="timeline">
          <li class="time-label">
            <span class="bg-success">
              02/02/2022
            </span>
          </li>
          <li>
            <i class="fa fa-check bg-success"></i>
            <div class="timeline-item">
              <span class="time">
                <i class="fa fa-clock-o"></i>
                10:20
              </span>
              <h3 class="timeline-header">
                <a href="#">
                  Ambrósio
                </a>
              </h3>
              <div class="timeline-body">
                Por Aprovar
              </div>
            </div>
          </li>
          <li class="time-label">
            <span class="bg-green">
              03/02/2022
            </span>
          </li>
          <li>
            <i class="fa fa-check bg-green"></i>
            <div class="timeline-item">
              <span class="time">
                <i class="fa fa-clock-o"></i>
                11:25
              </span>
              <h3 class="timeline-header">
                <a href="#">
                  Beto
                </a>
              </h3>
              <div class="timeline-body">
                Aprovado
              </div>
            </div>
          </li>
          <li>
            <i class="fa fa-circle bg-gray"></i>
          </li>
        </ul>
      </section>
    </div>
  </div>
  <div>
    <button class="btn btn-xs btn-warning">
      Retroceder Para "Aprovado"
    </button>

    <button class="btn btn-xs btn-primary">
      Avançar Para "Adjudicado"
    </button>
  </div>
</div>