<div>
  <table class="table table-striped">
    <tr>
      <td>
        Total liquido
      </td>
      <td style="text-align:end;">
        {{mathjs "1 + 138.4"}} €
      </td>
    </tr>
    <tr>
      <td>
        Total IVA
      </td>
      <td style="text-align:end;">
        {{mathjs "1 + 27.5"}} €
      </td>
    </tr>
    <tr>
      <td>
        Total documento
      </td>
      <td style="text-align:end;">
        {{mathjs "139.4 + 28.5"}} €
      </td>
    </tr>
  </table>
</div>