<div>
  <table class="table table-striped">
    <tr>
      <td>
        1.
      </td>
      <td>
        Por Aprovar
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        2.
      </td>
      <td>
        Aprovado
      </td>
      <td>
      </td>
    </tr>
    <tr class="success">
      <td>
        3.
      </td>
      <td>
        <b>
          Por Adjudicar
        </b>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        4.
      </td>
      <td>
        Adjudicado
      </td>
      <td>
      </td>
    </tr>
  </table>
  <div>
    <button class="btn btn-xs btn-warning">
      Retroceder Para "Por Aprovar"
    </button>

    <button class="btn btn-xs btn-primary">
      Avançar Para "Por Adjudicar"
    </button>
  </div>
</div>