<div class="datetimepicker" style='display:flex;flex-direction:row;'>
  <div style="flex-grow:1">
    <div class="datepicker-date"></div>
  </div>
  <div>
    <div class="datepicker-time" style="flex-grow:1"></div>
  </div>
  <button data-id="close-button" class="btn btn-default btn-flat" type="button" style="border-left-width: 0 !important">
    <i class="fa fa-fw fa-times"></i>
  </button>
</div>