<div>
  <div class="input-group">
    <input
      type="text"
      name="{{id}}"
      class="form-text form-control form-datepicker2"
      data-i18n="[placeholder]{{placeholder-i18n}}"
    />
    <span class="input-group-btn">
      <button class="btn btn-flat btn-default datepicker2-button" type="button">
        <i class="fa fa-fw fa-calendar"></i>
      </button>
    </span>
  </div>
  <div
    class="datepicker2-inputs"
    style="width: 100%;display: flex; justify-content: center"
  >
    <div
      style="display: flex;border-style: solid; border-width: 0 1px 1px 1px; border-color: #ccc; border-radius: 2px;"
    >
      <div>
        <input type="text" class="hidden datepicker2-date" />
      </div>
      <div style="position: relative;">
        <input type="text" class="hidden datepicker2-time" />
      </div>
    </div>
  </div>
</div>