<a href="" style="margin-top:9px;margin-bottom:9px;" data-id="{{id}}" name="{{id}}"  
  target="_blank" class="form-control-link btn btn-flat btn-primary btn-xs">
  <i class="fa fa-fw fa-link"></i>
  <span data-i18n="{{label-i18n}}"></span>
</a>